<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <meta charset="utf-8">
    <title>Plant Directory</title> -->
    <%- include('../partials/head.ejs') %>
  </head>
  <body>

    <div class="body-overlay">
      <!-- ========== Header ========== -->
      <%- include('../partials/header.ejs') %>
      <!-- =========== Main =========== -->
  <main>
    <div>
      <h1>Plant Parenthood</h1>
        <ul>
          <% for (let i = 0; i < plant.length; i++) { %>
            <li>

              <form action="/plant/<%=plant[i].id%>?_method=DELETE" method="POST">

                <!-- Edit button/Link to edit.ejs -->
                  <a href="/plant/<%=plant[i].id%>/edit">
                    Edit Plant Entry</a>

                <!-- Delete button/method-overrride/POST -->
                  <input type="submit" value="x" style="font-size:7px;"/>

                <!-- Plant Name/Link to the show.ejs -->
                  <a href="/plant/<%=plant[i].id%>">
                    <%=plant[i].name;%>
                  </ a>

              </form>
            </li>
          <% } %>
        </ul>
    </div>
  </main>
    <!-- =========== Footer ============  -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
