<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plant Entry Information</title>
  </head>
  <body>
  <h3>Plant Name Information</h3>

    Name: <%=plant.name%><br />
    Botanical Name: <%=plant.botanicalname%><br />
    Family Name: <%=plant.familyname%><br />

    <img src="<%=plant.currentimage%>"><br />

  <h3>General Appearance</h3>

    Location of Origin: <%=plant.origin%> <br />
    Expected Growth: <%=plant.expectedgrowth%><br />
    Shape: <%=plant.leafshape%><br />
    Color: <%=plant.color%><br />
    Bloom: <%if(plant.bloom === true) { %>
        Plant Flowers
      <% } else { %>
        Plant does not bloom
      <% } %><br />
    Blooming Season and Condition: <%=plant.bloomingseason%><br />

  <h3>Care Taking Instruction</h3>

    Soil Type: <%=plant.soiltype%><br />
    Humidity : <%=plant.humidity%><br />
    Temperature: <%=plant.temperature%><br />
    Light: <%=plant.light%><br />
    Water: <%=plant.water%><br />
    Pot Type: <%=plant.pottype%><br />
    Repotting: <%=plant.repotting%><br />
    Propagation: <%=plant.propagation%><br />
    Common Issues: <%=plant.commonissues%><br />

  <h3>Acquired Information</h3>

    Date Acquired: <%=plant.dateacquired%><br />
    Store Acquired: <%=plant.storeacquired%><br />
    <img src="<%=plant.firstimage%>"><br />

<!-- set an event listener to turn in to a carosuel -->
  <h3>Plant Entry</h3>

    Last Water: <%=plant.lastwatered%><br />
    Last Repotted: <%=plant.lastrepotting%><br />
    Entry Date: <%=plant.entrydate%><br />
    <img src="<%=plant.updateimage%>"><br />
    Entry: <%=plant.entry%><br />

  <button type="button" name="button"><a href="/plant/<%=plant._id%>/edit">Edit</a></button>
  <br />
    <nav>
      <button><a href="/plant/">Back to Plant Directory</a></button>
    </nav>
  </body>
</html>
